.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: purple;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}

h3, h4{
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.App-link {
  color: #61dafb;
}

.Navigation {
  height: 60px;
  background-color: purple;
}
.NavigationButton {
  margin: 10px;
  padding: 5px;
  background-color: rgb(255, 86, 255);
}

.Footer span {
  margin: 10px;
  padding: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* About Page */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container p {
  width: 70%
}

/* Resume Page */

ul {
  padding-left: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

/* Project Page */

/* .project-page {
  
} */

.project-flex {
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.project-box {
  width: 200px;
  height: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: rgb(224, 183, 224);
  border: 1px solid black;
  border-radius: 15px;
}

.project-box:hover {
  width: 210px;
  height: 310px;
  margin: 10px;
  box-shadow: 5px 5px 5px gray;
  transition: 0.2s;
}

.project-box h4 {
  width: 160px;
}

.project-features {
  width: 160px;
}
